{# @var  #}
{% extends "layout.twig" %}
{% block content %}
    <div style="width:350px; border: 1px solid #999; border-radius: 3px; padding: 5px; margin: 5px;">
        {%  if error|length > 0 %}
        <div class="alert alert-danger" role="alert">
            {% for er in error %}
            <p>{{ er }}</p>
            {% endfor %}
        </div>
        {%  endif %}
        <form action="" method="post">
            <fieldset>
                <legend style="color:blue;font-weight:bold;">Add your phone number</legend>
                <div class="form-group">
                    <label for="phone">Enter your PHONE:</label>
                    <input type="text" name="phone" id="phone" class="form-control" value="{{ model.getPhone }}">
                </div>

                <div class="form-group">
                    <label for="email">Enter your e-mail:</label>
                    <input type="text" name="email" id="email" class="form-control" value="{{ model.getEmail }}">
                </div>

                <div class="alert alert-warning" role="alert">
                    You will be able to retrieve your phone number later on using e-mail.
                </div>

                <button class="btn btn-primary">Submit</button>
            </fieldset>
        </form>
    </div>
{% endblock %}

